:root {
  --heart-primary: red;
  --heart-wrapper-size: 300px; 
  --heart-part-width: 160px; 
  --heart-part-height: 250px;
  --heart-box-shadow-primary: #E75151;
}

.heart {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--heart-wrapper-size);
    width: var(--heart-wrapper-size);
    transform-origin: 0 0;
     animation: pulse 1.5s ease infinite; 
}

.heart::before, .heart::after {
    width: var(--heart-part-width);
    height: var(--heart-part-height);
    background: var(--heart-primary);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.heart::before {
    left: 36px;
    box-shadow: 0px 0px 10px var(--heart-box-shadow-primary), inset -5px 7px 10px var(--heart-box-shadow-primary);
    transform: rotate(-45deg);
}

.heart::after {
    left: 100px;
    box-shadow: 8px 0px 5px var(--heart-box-shadow-primary), inset -5px 10px 5px var(--heart-box-shadow-primary);
    transform: rotate(45deg);
}