:root {
    --bg-doc: #6f8db8;
    --cloud-bg: #ffffff;
    --cloud-inset-shadow: #ccc;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--bg-doc);
    overflow: hidden;
}

*, *:before, *:after {
    position: absolute;
    box-sizing: border-box;
}

*:before, *:after {
    content: '';
    z-index: 1;
}

.cloud {
    width: 350px;
    height: 150px;
    background-color: var(--cloud-bg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    box-shadow: 0 0 10px var(--cloud-bg), inset -10px -10px 30px var(--cloud-inset-shadow);
}

.cloud::before {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--cloud-bg);
    top: -40px;
    left: 50px;
    box-shadow: 0 0px 10px var(--cloud-bg);
}

.cloud::after {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--cloud-bg);
    top: -70px;
    left: 120px;
    box-shadow: 0 0 10px var(--cloud-bg);
}