* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #13315C;
  overflow: hidden;
}

/* For every element set positioning */
*, *::before, *::after {
  position: absolute;
}

/* Set content and z index */
*::before, *::after {
  content: '';
  z-index: 1;
}
