.sky {
  width: 100%;
  height: 50%;
}

.sun {
  width: 300px;
  height: 300px;
  background: yellow;
  top: -15%;
  left: -5%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
          box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  -webkit-animation: sun 2s infinite;
          animation: sun 2s infinite;
  z-index: 2;
}

.clouds {
  width: 100%;
  height: 100%;
}

.clouds .cloud:nth-child(1) {
  left: 20%;
  top: 80%;
}

.clouds .cloud:nth-child(2) {
  top: 60%;
}

.clouds .cloud:nth-child(3) {
  left: 70%;
  top: 80%;
}

.cloud {
  width: 300px;
  height: 100px;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10em;
  -webkit-box-shadow: 0 0 30px white, inset -10px -10px 30px #ccc;
          box-shadow: 0 0 30px white, inset -10px -10px 30px #ccc;
  -webkit-animation: cloud 2s infinite;
          animation: cloud 2s infinite;
  z-index: 2;
}

.cloud::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  top: -40px;
  left: 50px;
  -webkit-box-shadow: 0 0 50px white;
          box-shadow: 0 0 50px white;
}

.cloud::after {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  top: -50px;
  left: 120px;
  -webkit-box-shadow: 0 0 50px white;
          box-shadow: 0 0 50px white;
}

/* Wind */
.wind {
  width: 100%;
  height: 100vh;
}

.wind__air-wave {
  background-color: #d6d9f6;
  height: 10px;
  border-radius: 30%;
  opacity: 0.2;
  z-index: 1;
}

.wind__air-wave:nth-of-type(1) {
  top: 582px;
  left: 100%;
  width: 80px;
  opacity: 0.2;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(2) {
  top: 441px;
  left: 100%;
  width: 148px;
  opacity: 0.4;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(3) {
  top: 1488px;
  left: 100%;
  width: 161px;
  opacity: 0.5;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

.wind__air-wave:nth-of-type(4) {
  top: 32px;
  left: 100%;
  width: 237px;
  opacity: 0.5;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(5) {
  top: 949px;
  left: 100%;
  width: 136px;
  opacity: 0.5;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(6) {
  top: 714px;
  left: 100%;
  width: 120px;
  opacity: 0.3;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(7) {
  top: 415px;
  left: 100%;
  width: 189px;
  opacity: 0.2;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(8) {
  top: 263px;
  left: 100%;
  width: 308px;
  opacity: 0.2;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(9) {
  top: 991px;
  left: 100%;
  width: 249px;
  opacity: 0.5;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(10) {
  top: 1070px;
  left: 100%;
  width: 55px;
  opacity: 0.5;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(11) {
  top: 1239px;
  left: 100%;
  width: 91px;
  opacity: 0.2;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(12) {
  top: 1092px;
  left: 100%;
  width: 234px;
  opacity: 0.2;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(13) {
  top: 1282px;
  left: 100%;
  width: 253px;
  opacity: 0.3;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(14) {
  top: 1422px;
  left: 100%;
  width: 331px;
  opacity: 0.2;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(15) {
  top: 465px;
  left: 100%;
  width: 67px;
  opacity: 0.4;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(16) {
  top: 676px;
  left: 100%;
  width: 272px;
  opacity: 0.4;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(17) {
  top: 1427px;
  left: 100%;
  width: 186px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(18) {
  top: 278px;
  left: 100%;
  width: 76px;
  opacity: 0.5;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(19) {
  top: 1057px;
  left: 100%;
  width: 82px;
  opacity: 0.3;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(20) {
  top: 381px;
  left: 100%;
  width: 61px;
  opacity: 0.3;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(21) {
  top: 1237px;
  left: 100%;
  width: 78px;
  opacity: 0.3;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(22) {
  top: 902px;
  left: 100%;
  width: 306px;
  opacity: 0.5;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(23) {
  top: 559px;
  left: 100%;
  width: 108px;
  opacity: 0.5;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(24) {
  top: 241px;
  left: 100%;
  width: 171px;
  opacity: 0.1;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(25) {
  top: 1079px;
  left: 100%;
  width: 222px;
  opacity: 0.5;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(26) {
  top: 680px;
  left: 100%;
  width: 61px;
  opacity: 0.5;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(27) {
  top: 729px;
  left: 100%;
  width: 201px;
  opacity: 0.3;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(28) {
  top: 227px;
  left: 100%;
  width: 328px;
  opacity: 0.1;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(29) {
  top: 139px;
  left: 100%;
  width: 327px;
  opacity: 0.1;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(30) {
  top: 271px;
  left: 100%;
  width: 344px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(31) {
  top: 1151px;
  left: 100%;
  width: 288px;
  opacity: 0.4;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(32) {
  top: 210px;
  left: 100%;
  width: 60px;
  opacity: 0.3;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(33) {
  top: 756px;
  left: 100%;
  width: 260px;
  opacity: 0.4;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(34) {
  top: 1225px;
  left: 100%;
  width: 313px;
  opacity: 0.2;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(35) {
  top: 952px;
  left: 100%;
  width: 104px;
  opacity: 0.1;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(36) {
  top: 979px;
  left: 100%;
  width: 230px;
  opacity: 0.2;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(37) {
  top: 1373px;
  left: 100%;
  width: 301px;
  opacity: 0.3;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(38) {
  top: 1007px;
  left: 100%;
  width: 269px;
  opacity: 0.5;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(39) {
  top: 1045px;
  left: 100%;
  width: 334px;
  opacity: 0.2;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(40) {
  top: 1347px;
  left: 100%;
  width: 341px;
  opacity: 0.4;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(41) {
  top: 849px;
  left: 100%;
  width: 266px;
  opacity: 0.1;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(42) {
  top: 1117px;
  left: 100%;
  width: 316px;
  opacity: 0.4;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(43) {
  top: 893px;
  left: 100%;
  width: 142px;
  opacity: 0.3;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(44) {
  top: 716px;
  left: 100%;
  width: 167px;
  opacity: 0.5;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(45) {
  top: 1478px;
  left: 100%;
  width: 283px;
  opacity: 0.3;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(46) {
  top: 1137px;
  left: 100%;
  width: 298px;
  opacity: 0.4;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(47) {
  top: 1410px;
  left: 100%;
  width: 88px;
  opacity: 0.5;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(48) {
  top: 930px;
  left: 100%;
  width: 257px;
  opacity: 0.4;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(49) {
  top: 353px;
  left: 100%;
  width: 210px;
  opacity: 0.5;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(50) {
  top: 752px;
  left: 100%;
  width: 348px;
  opacity: 0.5;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(51) {
  top: 1077px;
  left: 100%;
  width: 79px;
  opacity: 0.2;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(52) {
  top: 877px;
  left: 100%;
  width: 333px;
  opacity: 0.4;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(53) {
  top: 1178px;
  left: 100%;
  width: 84px;
  opacity: 0.5;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

.wind__air-wave:nth-of-type(54) {
  top: 172px;
  left: 100%;
  width: 86px;
  opacity: 0.2;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(55) {
  top: 191px;
  left: 100%;
  width: 95px;
  opacity: 0.2;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(56) {
  top: 157px;
  left: 100%;
  width: 311px;
  opacity: 0.3;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(57) {
  top: 326px;
  left: 100%;
  width: 250px;
  opacity: 0.2;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(58) {
  top: 260px;
  left: 100%;
  width: 217px;
  opacity: 0.1;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(59) {
  top: 24px;
  left: 100%;
  width: 135px;
  opacity: 0.2;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(60) {
  top: 368px;
  left: 100%;
  width: 235px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(61) {
  top: 119px;
  left: 100%;
  width: 188px;
  opacity: 0.5;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(62) {
  top: 517px;
  left: 100%;
  width: 232px;
  opacity: 0.2;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(63) {
  top: 1445px;
  left: 100%;
  width: 341px;
  opacity: 0.5;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(64) {
  top: 545px;
  left: 100%;
  width: 64px;
  opacity: 0.1;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(65) {
  top: 1444px;
  left: 100%;
  width: 103px;
  opacity: 0.1;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(66) {
  top: 508px;
  left: 100%;
  width: 167px;
  opacity: 0.2;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(67) {
  top: 1238px;
  left: 100%;
  width: 124px;
  opacity: 0.3;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(68) {
  top: 395px;
  left: 100%;
  width: 112px;
  opacity: 0.1;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(69) {
  top: 810px;
  left: 100%;
  width: 54px;
  opacity: 0.1;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

.wind__air-wave:nth-of-type(70) {
  top: 536px;
  left: 100%;
  width: 312px;
  opacity: 0.3;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(71) {
  top: 193px;
  left: 100%;
  width: 162px;
  opacity: 0.5;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(72) {
  top: 73px;
  left: 100%;
  width: 295px;
  opacity: 0.2;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(73) {
  top: 807px;
  left: 100%;
  width: 125px;
  opacity: 0.2;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(74) {
  top: 1344px;
  left: 100%;
  width: 154px;
  opacity: 0.3;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

@-webkit-keyframes wind {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
}

@keyframes wind {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3000px);
            transform: translateX(-3000px);
  }
}

@-webkit-keyframes sun {
  0% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
  50% {
    -webkit-box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
  }
  100% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
}

@keyframes sun {
  0% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
  50% {
    -webkit-box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
  }
  100% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
}

@-webkit-keyframes cloud {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) skew(0);
            transform: translate(-50%, -50%) skew(0);
  }
  50% {
    -webkit-transform: translate(-52%, -50%) skew(4deg);
            transform: translate(-52%, -50%) skew(4deg);
  }
}

@keyframes cloud {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) skew(0);
            transform: translate(-50%, -50%) skew(0);
  }
  50% {
    -webkit-transform: translate(-52%, -50%) skew(4deg);
            transform: translate(-52%, -50%) skew(4deg);
  }
}
