.sky {
  width: 100%;
  height: 50%;
}

.sun {
  width: 300px;
  height: 300px;
  background: yellow;
  top: -15%;
  left: -5%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
          box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  -webkit-animation: sun 2s infinite;
          animation: sun 2s infinite;
  z-index: 2;
}

.clouds {
  width: 100%;
  height: 100%;
}

.clouds .cloud:nth-child(1) {
  left: 20%;
  top: 80%;
}

.clouds .cloud:nth-child(2) {
  top: 60%;
}

.clouds .cloud:nth-child(3) {
  left: 70%;
  top: 80%;
}

.cloud {
  width: 300px;
  height: 100px;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10em;
  -webkit-box-shadow: 0 0 30px white, inset -10px -10px 30px #ccc;
          box-shadow: 0 0 30px white, inset -10px -10px 30px #ccc;
  -webkit-animation: cloud 2s infinite;
          animation: cloud 2s infinite;
  z-index: 2;
}

.cloud::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  top: -40px;
  left: 50px;
  -webkit-box-shadow: 0 0 50px white;
          box-shadow: 0 0 50px white;
}

.cloud::after {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  top: -50px;
  left: 120px;
  -webkit-box-shadow: 0 0 50px white;
          box-shadow: 0 0 50px white;
}

/* Wind */
.wind {
  width: 100%;
  height: 100vh;
}

.wind__air-wave {
  background-color: #d6d9f6;
  height: 10px;
  border-radius: 30%;
  opacity: 0.2;
  z-index: 1;
}

.wind__air-wave:nth-of-type(1) {
  top: 1162px;
  left: 100%;
  width: 194px;
  opacity: 0.4;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(2) {
  top: 85px;
  left: 100%;
  width: 62px;
  opacity: 0.1;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(3) {
  top: 689px;
  left: 100%;
  width: 168px;
  opacity: 0.1;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(4) {
  top: 234px;
  left: 100%;
  width: 258px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(5) {
  top: 1056px;
  left: 100%;
  width: 249px;
  opacity: 0.4;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(6) {
  top: 930px;
  left: 100%;
  width: 323px;
  opacity: 0.2;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(7) {
  top: 1065px;
  left: 100%;
  width: 318px;
  opacity: 0.1;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(8) {
  top: 1439px;
  left: 100%;
  width: 241px;
  opacity: 0.2;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(9) {
  top: 994px;
  left: 100%;
  width: 149px;
  opacity: 0.5;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(10) {
  top: 170px;
  left: 100%;
  width: 235px;
  opacity: 0.5;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(11) {
  top: 1112px;
  left: 100%;
  width: 225px;
  opacity: 0.3;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

.wind__air-wave:nth-of-type(12) {
  top: 1289px;
  left: 100%;
  width: 303px;
  opacity: 0.4;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(13) {
  top: 1297px;
  left: 100%;
  width: 227px;
  opacity: 0.4;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(14) {
  top: 170px;
  left: 100%;
  width: 301px;
  opacity: 0.1;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(15) {
  top: 819px;
  left: 100%;
  width: 170px;
  opacity: 0.5;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(16) {
  top: 1418px;
  left: 100%;
  width: 221px;
  opacity: 0.3;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(17) {
  top: 1167px;
  left: 100%;
  width: 192px;
  opacity: 0.5;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(18) {
  top: 535px;
  left: 100%;
  width: 162px;
  opacity: 0.1;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(19) {
  top: 1460px;
  left: 100%;
  width: 304px;
  opacity: 0.3;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(20) {
  top: 924px;
  left: 100%;
  width: 259px;
  opacity: 0.5;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(21) {
  top: 10px;
  left: 100%;
  width: 169px;
  opacity: 0.3;
  -webkit-animation: wind 7s linear infinite;
          animation: wind 7s linear infinite;
}

.wind__air-wave:nth-of-type(22) {
  top: 1261px;
  left: 100%;
  width: 208px;
  opacity: 0.2;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(23) {
  top: 392px;
  left: 100%;
  width: 223px;
  opacity: 0.2;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(24) {
  top: 1399px;
  left: 100%;
  width: 316px;
  opacity: 0.2;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(25) {
  top: 1019px;
  left: 100%;
  width: 75px;
  opacity: 0.3;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(26) {
  top: 1312px;
  left: 100%;
  width: 197px;
  opacity: 0.2;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(27) {
  top: 91px;
  left: 100%;
  width: 196px;
  opacity: 0.3;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(28) {
  top: 1167px;
  left: 100%;
  width: 235px;
  opacity: 0.2;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(29) {
  top: 219px;
  left: 100%;
  width: 335px;
  opacity: 0.4;
  -webkit-animation: wind 16s linear infinite;
          animation: wind 16s linear infinite;
}

.wind__air-wave:nth-of-type(30) {
  top: 1004px;
  left: 100%;
  width: 349px;
  opacity: 0.4;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(31) {
  top: 1369px;
  left: 100%;
  width: 280px;
  opacity: 0.4;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(32) {
  top: 1019px;
  left: 100%;
  width: 184px;
  opacity: 0.3;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(33) {
  top: 7px;
  left: 100%;
  width: 258px;
  opacity: 0.5;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(34) {
  top: 94px;
  left: 100%;
  width: 223px;
  opacity: 0.3;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(35) {
  top: 1207px;
  left: 100%;
  width: 210px;
  opacity: 0.2;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(36) {
  top: 1470px;
  left: 100%;
  width: 315px;
  opacity: 0.4;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(37) {
  top: 548px;
  left: 100%;
  width: 222px;
  opacity: 0.1;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(38) {
  top: 24px;
  left: 100%;
  width: 291px;
  opacity: 0.3;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(39) {
  top: 392px;
  left: 100%;
  width: 153px;
  opacity: 0.4;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(40) {
  top: 657px;
  left: 100%;
  width: 94px;
  opacity: 0.5;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(41) {
  top: 381px;
  left: 100%;
  width: 71px;
  opacity: 0.5;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(42) {
  top: 919px;
  left: 100%;
  width: 319px;
  opacity: 0.2;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(43) {
  top: 655px;
  left: 100%;
  width: 77px;
  opacity: 0.1;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(44) {
  top: 525px;
  left: 100%;
  width: 332px;
  opacity: 0.1;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(45) {
  top: 798px;
  left: 100%;
  width: 341px;
  opacity: 0.4;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(46) {
  top: 966px;
  left: 100%;
  width: 119px;
  opacity: 0.2;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(47) {
  top: 339px;
  left: 100%;
  width: 148px;
  opacity: 0.3;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(48) {
  top: 1325px;
  left: 100%;
  width: 128px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(49) {
  top: 953px;
  left: 100%;
  width: 71px;
  opacity: 0.3;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(50) {
  top: 25px;
  left: 100%;
  width: 165px;
  opacity: 0.4;
  -webkit-animation: wind 14s linear infinite;
          animation: wind 14s linear infinite;
}

.wind__air-wave:nth-of-type(51) {
  top: 976px;
  left: 100%;
  width: 177px;
  opacity: 0.1;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(52) {
  top: 619px;
  left: 100%;
  width: 219px;
  opacity: 0.4;
  -webkit-animation: wind 4s linear infinite;
          animation: wind 4s linear infinite;
}

.wind__air-wave:nth-of-type(53) {
  top: 1021px;
  left: 100%;
  width: 273px;
  opacity: 0.1;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(54) {
  top: 847px;
  left: 100%;
  width: 52px;
  opacity: 0.2;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(55) {
  top: 1101px;
  left: 100%;
  width: 217px;
  opacity: 0.1;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(56) {
  top: 1406px;
  left: 100%;
  width: 335px;
  opacity: 0.1;
  -webkit-animation: wind 13s linear infinite;
          animation: wind 13s linear infinite;
}

.wind__air-wave:nth-of-type(57) {
  top: 475px;
  left: 100%;
  width: 207px;
  opacity: 0.4;
  -webkit-animation: wind 9s linear infinite;
          animation: wind 9s linear infinite;
}

.wind__air-wave:nth-of-type(58) {
  top: 900px;
  left: 100%;
  width: 318px;
  opacity: 0.2;
  -webkit-animation: wind 3s linear infinite;
          animation: wind 3s linear infinite;
}

.wind__air-wave:nth-of-type(59) {
  top: 1007px;
  left: 100%;
  width: 349px;
  opacity: 0.2;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(60) {
  top: 1136px;
  left: 100%;
  width: 133px;
  opacity: 0.2;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(61) {
  top: 908px;
  left: 100%;
  width: 156px;
  opacity: 0.4;
  -webkit-animation: wind 6s linear infinite;
          animation: wind 6s linear infinite;
}

.wind__air-wave:nth-of-type(62) {
  top: 85px;
  left: 100%;
  width: 231px;
  opacity: 0.1;
  -webkit-animation: wind 8s linear infinite;
          animation: wind 8s linear infinite;
}

.wind__air-wave:nth-of-type(63) {
  top: 84px;
  left: 100%;
  width: 240px;
  opacity: 0.4;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(64) {
  top: 22px;
  left: 100%;
  width: 217px;
  opacity: 0.1;
  -webkit-animation: wind 2s linear infinite;
          animation: wind 2s linear infinite;
}

.wind__air-wave:nth-of-type(65) {
  top: 505px;
  left: 100%;
  width: 91px;
  opacity: 0.3;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(66) {
  top: 382px;
  left: 100%;
  width: 288px;
  opacity: 0.3;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(67) {
  top: 1488px;
  left: 100%;
  width: 275px;
  opacity: 0.5;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(68) {
  top: 1103px;
  left: 100%;
  width: 342px;
  opacity: 0.1;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

.wind__air-wave:nth-of-type(69) {
  top: 12px;
  left: 100%;
  width: 279px;
  opacity: 0.2;
  -webkit-animation: wind 12s linear infinite;
          animation: wind 12s linear infinite;
}

.wind__air-wave:nth-of-type(70) {
  top: 143px;
  left: 100%;
  width: 140px;
  opacity: 0.2;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(71) {
  top: 160px;
  left: 100%;
  width: 98px;
  opacity: 0.3;
  -webkit-animation: wind 11s linear infinite;
          animation: wind 11s linear infinite;
}

.wind__air-wave:nth-of-type(72) {
  top: 259px;
  left: 100%;
  width: 144px;
  opacity: 0.4;
  -webkit-animation: wind 15s linear infinite;
          animation: wind 15s linear infinite;
}

.wind__air-wave:nth-of-type(73) {
  top: 1102px;
  left: 100%;
  width: 69px;
  opacity: 0.1;
  -webkit-animation: wind 5s linear infinite;
          animation: wind 5s linear infinite;
}

.wind__air-wave:nth-of-type(74) {
  top: 983px;
  left: 100%;
  width: 61px;
  opacity: 0.2;
  -webkit-animation: wind 10s linear infinite;
          animation: wind 10s linear infinite;
}

@-webkit-keyframes wind {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

@keyframes wind {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

@-webkit-keyframes sun {
  0% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
  50% {
    -webkit-box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
  }
  100% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
}

@keyframes sun {
  0% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
  50% {
    -webkit-box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 500px yellow, inset -10px -10px 30px #b3b300;
  }
  100% {
    -webkit-box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
            box-shadow: 0 0 30px yellow, inset -10px -10px 30px #b3b300;
  }
}

@-webkit-keyframes cloud {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) skew(0);
            transform: translate(-50%, -50%) skew(0);
  }
  50% {
    -webkit-transform: translate(-52%, -50%) skew(4deg);
            transform: translate(-52%, -50%) skew(4deg);
  }
}

@keyframes cloud {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) skew(0);
            transform: translate(-50%, -50%) skew(0);
  }
  50% {
    -webkit-transform: translate(-52%, -50%) skew(4deg);
            transform: translate(-52%, -50%) skew(4deg);
  }
}
